@model TPI_ProjectPresenter.Models.Projects.ProjectTab

<div class="row">
	<div class="col-12 text-black">
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link" asp-controller="Project" asp-action="ViewProject">@Model.TabName</a></li>
		</ul>
	</div>
</div>