@model TPI_ProjectPresenter.Models.ProjectContent.ContentSection

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<partial name="ProjectContent/_TextOnly", model="Model.ItemText" />*@
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <partial name="ProjectSection/_ContentSection", model="@Model" />
</div>
