@model List<TPI_ProjectPresenter.Models.Projects.ProjectEntity.ProjectHeader>

@{
    ViewData["Title"] = "Projects";
}

<div class="container-lg">
    <div  class="text-center"><h1>ProjectList</h1></div>
    <div class="container ProjectList">
        @foreach (var header in @Model)
        {
            <partial name="ProjectList/_ProjectListItem" , model="header" />
        }
    </div>

</div>
