@model List<TPI_ProjectPresenter.Models.Projects.ProjectEntity.ProjectHeader>

@{
    ViewData["Title"] = "Projects";
}

<div class="container-lg">
    <div  class="text-center"><h1>ProjectList</h1></div>
    <div class="container ProjectList">
        <ul class="list-group">
                @foreach (var header in @Model)
                {
                    <li class="list-group-item">
                        <div class="row">    
                            <partial name="ProjectList/_ProjectListItem" , model="header" />
                        </div>
                    </li>
                }
        </ul>
    </div>

</div>
